NODE_ENV=production
PORT=5000
JWT_SECRET=1MqkJrrv9XXK4pFOfCsQCHfuGw0KLhwX3donDA7TvKd
JWT_EXPIRES_IN=7d

# Preferred on Render
DATABASE_URL=postgres://user:password@host:5432/dbname
DB_SSL=true

# Optional fallback if DATABASE_URL is not used
DB_HOST=localhost
DB_PORT=5432
DB_NAME=your_advisor
DB_USER=postgres
DB_PASSWORD=postgres

# AI Services
GROQ_API_KEY=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
